<%= simple_form_for([@business, @article]) do |f| %>
  <%= f.input :name %>
  <%= f.input :content %>
  <%= f.error :content_count, class: "alert-error" %>
  <h3>Attachments</h3>
    <div id="attachments">
    <%= f.simple_fields_for :attachments do |attachment| %>
      <%= render 'attachment_fields', f: attachment %>
    <% end %>
  <div class='links'>
    <%= link_to_add_association 'add attachment', f, :attachments %>

  </div>
  </div>
  <%= f.button :submit, class: "btn btn-primary" %>

<% end %>
