<%= simple_form_for([@business, @article]) do |f| %>
  <%= f.input :name, label: "Title" %>
  <%= f.input :content %>
  <%= f.error :content_count, class: "alert-error" %>
  <div id="attachments">  
    <h3>Attachments</h3>
    <%= f.simple_fields_for :attachments do |attachment| %>
      <%= render 'attachment_fields', f: attachment %>
    <% end %>
  </div>
  <div class='links'>
    <%= link_to_add_association 'add attachment', f, :attachments %>
  </div>
  <%= content_tag "div", id: "contacts", data: { url: business_contacts_url(@business) } do %>

    <h3>Business Contacts</h3>
      <%= f.input :contact_tokens, label: "Contacts", input_html: { data: { load: @article.contacts } } %>
  <% end %>

  <%= f.button :submit, class: "btn btn-primary" %>

<% end %>
