<%= simple_form_for([@business, @article]) do |f| %>
  <%= f.input :name %>
  <%= f.input :content %>
  <div id="attachments">
    <h3>Attachments</h3>
    <%= render partial: "attachments/form", locals: { f: f, index: 0 } %>
  </div>


  <%= f.button :submit, class: "btn-primary" %>
<% end %>