<%= provide(:title, "KB - #{@business.name}") %>
<div class="row">
  <div class="col-lg-6">
    <% if @business.articles.empty? %>
      <p>Please write an article capturing knowledge to begin.</p>
      <p><%= link_to "Click here to create an article.", new_business_article_path(@business, @article) %></p>
    <% else %>
    <p><%= link_to "Create new article", new_business_article_path(@business, @article) %></p>
    <table class="table table-bordered table-kb-information">
      <thead>
        <tr>
          <th>Name</th>
          <th colspan="2">Content</th>
          <th>Last touched</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @business.articles.each do |article| %>
        <tr>
          <td><%= article.name %></td>
          <td colspan="2"><%= article.content.split[0..20].join(" ") + "..." %></td>
          <td><%= article.updated_at.strftime("%m/%d/%Y") %></td>
          <td>Edit</td>
          <td>Delete</td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
    <%= link_to "Return to main page", current_user %>
  </div>
</div>