<%= provide(:title, "KB - #{@article.name}") %>

<div class="col-md-6">
  <%= link_to "Back to article index", business_articles_path(@business) %> <br />
  <%= link_to "Back to main page", current_user %> <br />
  <%= link_to "Create new article", new_business_article_path(@business, Article.new) %>
  <div class="card">
    <div class="card-header clearfix">
      <%= @article.name %> 
      <%= link_to "Delete", business_article_path(@business, @article), 
                                    method: :delete,
                                    data: { confirm: "Are you sure you want to delete this task?" },
                                    class: "btn btn-danger pull-right" %>
      <%= link_to "Edit", [:edit, @business, @article], class: 'btn btn-primary pull-right' %>
 
    </div>
    <div class="card-block">
      <%= markdown(@article.content) %>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>