<%= provide(:title, @user.email) %>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
          <% if current_user.groups.empty? %>
            <div class="panel panel-danger">
              <div class="panel-heading">You are not associated with any businesses.</div>
              <footer><%= link_to "Click here to create an association.", new_business_path(@business) %></footer>
             </div>
          <% end %>
          
          <div class="panel panel-primary">
            <div class="panel-heading clearfix">
              <%= "#{@user.email} Profile" %> 
                <%= link_to "Delete User", '#', class: "delete pull-right", method: :delete, data:
        										  { confirm: 'Are you sure?' } %>
            </div>
            <div class="panel-body">
              <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Email:</td>
                        <td><%= link_to @user.email, '#' %> </td>
                      </tr>
                      <tr>
                        <td>Group Count:</td>
                        <td><%= link_to @user.groups.count, '#' %></td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <div class="panel-footer clearfix">
              <%= link_to "Create new association", new_business_path(@business), class: "pull-right" %>      

            </div>
          </div>
         
      </div>
          
      <div class="col-md-6">
        <table class="table table-hover">
          <thead>
             <tr>
              <th>Group Name</th>
              <th>Associated Business</th>
            </tr>
          </thead>
          <tbody>
            <% @user.groups.each do |group| %>
            <tr>
              <td><%= link_to group.name.titleize, [group.business, group] %></td>
              <td><%= link_to group.business.name.titleize, [group.business] %></td>
            </tr>
            <% end %>
          </tbody>

        </table>
    </div>        
  </div>
