<%= provide(:title, @user.email) %>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
          <% if @user.groups.empty? %>
            <div class="card card-inverse card-danger text-xs-center">
              <div class="card-block">
                <blockquote class="card-blockquote">
                  <p>You are not associated with any businesses.</p>
                <footer><%= link_to "Click here to create an association.", new_business_path(@business) %></footer>
                </blockquote>
              </div>
            </div>
          <% end %>
   
   
          <div class="card">
            <div class="card-header">
              <%= "#{@user.email} Profile" %> 
                <%= link_to "Delete User", '#', class: "pull-right", method: :delete, data:
        										  { confirm: 'Are you sure?' } %>
            </div>
            <div class="card-block">
              <div class="row">
                
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Email:</td>
                        <td><%= link_to @user.email, '#' %> </td>
                      </tr>
                      <tr>
                        <td>Group Count:</td>
                        <td><%= link_to @user.groups.count, '#' %></td>
                      </tr>
                    </tbody>
                  </table>
              
                  <%= link_to 'PLACEHOLDER', '#', class: 'btn btn-primary' %>
                  
                </div>
             
            </div>
              <% if current_user.groups.any? %>   
                <div class="panel-footer">
                  <%= link_to "Create new association", new_business_path(@business), class: "pull-right" %>      
                </div>
              <% end %>
          </div>
        </div>
      </div>
          
      <div class="col-md-6">
        <table class="table table-hover">
          <thead>
             <tr>
              <th>Group Name</th>
              <th>Associated Business</th>
            </tr>
          </thead>
          <tbody>
            <% @user.groups.each do |group| %>
            <tr>
              <td><%= link_to group.name, [group.business, group] %></td>
              <td><%= link_to group.business.name, [group.business] %></td>
            </tr>
            <% end %>
          </tbody>

        </table>
    </div>        
  </div>
