<%= provide(:title, "Contacts - #{@business.name}") %>
<div class="row">
  <div class="col-lg-6">
    <h1>Contact List</h1>
    <% if @business.contacts.empty? %>
      <p>No contacts have been associated with any knowledge articles yet.</p>
    <% else %>
    <table class="table table-bordered table-contact-information">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Articles Associated</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @contacts.uniq.each do |contact| %>
        <tr>
          <td><%= contact.first_name %></td>
          <td><%= contact.last_name %></td>
          <td><%= link_to contact.email, business_contact_path(@business, contact) %></td>
          <td><%= contact.articles.count %></td>
          <td><%= link_to "Edit", [:edit, @business, contact], class: "btn btn-primary" %></td>
          <td><%= link_to "Delete", business_contact_path(@business, contact), 
                                    method: :delete,
                                    data: { confirm: "Are you sure you want to delete this task?" },
                                    class: "btn btn-danger" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
    <%= link_to "Return to main page", current_user %>
  </div>
</div>