<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
    <% if content_for?(:title) %>
      <%= yield(:title) %>
    <% else %>
      Who Does What
    <% end %>
    </title>
    <meta name="description" content="A admin dashboard theme that will get you started with Bootstrap 4." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Codeply">
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


  </head>
  <body>
  <%= render 'layouts/navbar' %>  
  <%= render 'layouts/sidebar' %>
  <%= render 'layouts/messages' %>
    
    <%= yield %>
  <%= render 'layouts/footer' %>
  <%= debug(params) if Rails.env.development? %>
  </body>
</html>
